<h6 style="color: #bdc3c7" class="display-4">Forgot Password</h6>
<hr />
<form asp-controller="Account" asp-action="ForgotPassword" method="post">
    <div class="row">
        <div class="col-md-6">
            <div class="form-group row mb-2">
                <label style="color: #bdc3c7" class="col-md-4 col-form-label">Kayıtlı email adresinizi giriniz:</label>
                <div class="col-md-8">
                    <input style="background-color: #bdc3c7" class="form-control" type="email" name="email" />
                </div>
            </div>
            <div class="form-group row mb-2">
                <div class="col-md-8 offset-md-4">
                    <button style="background-color: #bdc3c7" type="submit" class="btn">Submit</button>
                </div>
            </div>
        </div>
    </div>
</form>