<h4 class="text-light mb-3">Bizimle Bu Bilgilerden İletişime Geçebilirsiniz</h4>
<div>
    <ul class="text-light mt-1 mb-3">
        <li class="mt-1"><a href="#" class="text-light"><i class="fa-brands fa-instagram"></i><i class="fa-brands fa-twitter mx-3"></i><i class="fa-brands fa-facebook"></i><i class="fa-brands fa-whatsapp mx-3"></i></a></li>
        <li class="mt-1">Telefon : (0212)-415-15-23</li>
        <li class="mt-1">Faks : (0212)-415-15-25</li>
        <li class="mt-1">E-Mail : <a style="text-decoration:none;" href="#" class="text-light">durkayarecipe@gmail.com</a></li>
        <li class="mt-1">Adres : Gül Sokak No:28 Zeytinburnu/İstanbul</li>
    </ul>
</div>